@import "tailwindcss";
@import "tw-animate-css";


section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 0px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    scroll-behavior: smooth;
}